STAC_APP_NAME=STAC Browser
STAC_CATALOG_URL=https://s3-data.domain.fr/s3-bucket/stac-data/catalog.json
DOMAIN=catalog.data-lake.domain.fr
APACHE_SERVE_DIR=/var/www/stac-browser
S3_ENDPOINT=https://s3-data.domain.fr
S3_BUCKET=s3-bucket
S3_ACCESS_KEY=xxx
S3_SECRET_KEY=xxx
